<div class="principal">
<h2 class="titulo-llamativo"> Bienvenido/a {{nombre_actual}}!!</h2> <br>  
<h3 class="titulo-llamativo2"> Ingrese su nombre, por favor</h3><br>
<input [(ngModel)]="nombre_beta" placeholder="ingresar nombre" class="input-llamativo"><br><br>
<div *ngIf=""></div>
<button (click)="guardar_nombre()" class="boton-llamativo">actualizar</button><br><br>
<button (click)="activar_historial=!this.activar_historial" class="boton-llamativo"> activar/desactivar historial</button>
<div *ngIf="activar_historial==true">
    <h2>HISTORIAL DE NOMBRES:</h2>
<ul>
<li *ngFor="let historial of historial; let i=index;">Nombre {{index_historial[i]}}: {{historial}} 
</li> 
</ul>
</div>
</div>
